.title{
    width: 100%;
    text-align: center;
}
.slider{
    .card{      
        height: 450px;
        aspect-ratio: 4/3;
        overflow: hidden;
        .img{
            width: 100%;
            height: 100%;
            object-fit: contain;
            object-position: center;
        }
    }
    
}
.inner-buttons{
    margin-top: 20px;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-around;
}