*{
    box-sizing: border-box;
}
.layout-default{
    position: relative;
    .link{
        color: black;
        text-decoration: none;
        font-size: 18px;
        font-weight: 600;
        &-box{
            padding: 5px 15px;
        }
        &-active{
            color: white;
        }
    }
    &__header{
        position: fixed;
        top : 0;
        left: 0;
        width: 100%;
        z-index: 999;
        background: orange;
        padding: 20px 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__logo{
        .link{
            font-size: 26px;
            font-weight: 700;
        }
        
    }
    &__items{
        display: flex;
        justify-content: space-around;
    }
    &__actions{
        
    }
    &__main{
        position: relative;
        margin-top: 90px;
    }
}